body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: black;
}

.container{
    color: white;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    margin: 0 auto;
    width: 45vw;
}

.content__title{
    font-size: 3rem;
    margin: 0;
    margin-bottom: 3vh;
}

.image__container{
    width: 15vw;
    height: 50vh;
    border-radius: 5px;
    background: #c31432;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container__content{
    margin-left: 1vw;
    width: 30vw;
}

.content__text{
    font-size: 1.3rem;
    margin-bottom: 3vh;
}

.content__read-more{
    cursor: pointer;
    padding: 1vh 3vw;
    background: none;
    border: 2px solid white;
    color: white;
    transition-duration: .3s;
    font-size: 1.3rem;
    border-radius: 5px;
}

.content__read-more:hover{
    color: black;
    background: white;
}


@media screen and (max-width: 600px){
    .container{
        flex-direction: column;
        margin: 0 30px;
        width: 80vw;
    }

    .image__container{
        width: 100%;
        height: 30vh;
        margin: 0 2vw 4vh 2vw;  
    }

    .content__title{
        font-size: 4rem;
        margin-bottom: 3vh;
    }
    
    .content__text{
        font-size: 2rem;
        width: 80vw;
        margin: 0 auto 5vh auto;
        text-align: justify;
    }

    .content__read-more{
        font-size: 2rem;
        width: 60vw;
        margin: 0 10vw;
        padding: 2vh 0;
    }

}
